# Laravel
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed

# OS
.DS_Store
Thumbs.db
*.log

# Testing
/coverage
.phpunit.cache
/auth.json

# Debug
.phpactor.json

# Docker
docker-compose.override.yml

# Temp files
*.tmp
*.temp
/temp/
/storage/app/temp/*
!/storage/app/temp/.gitkeep

# SQLite database
*.sqlite
*.sqlite3
/imagepdf

# PDF files
*.pdf
